.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 300px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img {
  height: 200px;
}

.elevator {
  margin: 30px;
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px; 
  width: 180px;
  background-color: #3b8ec2; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}